#root {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

}

body {
  margin: 0px;
}
.css-ic7of9-MuiDrawer-docked .MuiDrawer-paper{
  background-color: #3A0B61;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.my-swal {
  z-index: 1200;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.509);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}